<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>342570186415-2gjc852660q4j78vcsmm2jpe1h1nnvni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342570186415-2gjc852660q4j78vcsmm2jpe1h1nnvni</string>
	<key>API_KEY</key>
	<string>AIzaSyBkVhuJfWcz-IxlHYSw71pApJ0pQljtr9w</string>
	<key>GCM_SENDER_ID</key>
	<string>342570186415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mayumi.yamanishi.CrouwdWorks-ChatApp</string>
	<key>PROJECT_ID</key>
	<string>crowdworkschatapp</string>
	<key>STORAGE_BUCKET</key>
	<string>crowdworkschatapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342570186415:ios:758d84132965e50b9b465a</string>
	<key>DATABASE_URL</key>
	<string>https://crowdworkschatapp.firebaseio.com</string>
</dict>
</plist>