<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628224229974-hs6d6m6cvhbt849k2cpmhkrifma1oab8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628224229974-hs6d6m6cvhbt849k2cpmhkrifma1oab8</string>
	<key>API_KEY</key>
	<string>AIzaSyAr5kQJV1JpkhmASUD0rRBZAhHDk5x7e9M</string>
	<key>GCM_SENDER_ID</key>
	<string>628224229974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mayumi.yamanishi.CrouwdWorksChatApp</string>
	<key>PROJECT_ID</key>
	<string>alonechatapp</string>
	<key>STORAGE_BUCKET</key>
	<string>alonechatapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628224229974:ios:48b1e87be4a2157848b1f7</string>
	<key>DATABASE_URL</key>
	<string>https://alonechatapp.firebaseio.com</string>
</dict>
</plist>